.cards{
    background-color: var(--color-card);
    border-radius: 12px;
    content-visibility: auto;
    contain-intrinsic-size: 150px;
    position: relative;
    display: flex;

    img{
        border-radius: 20px;
        background-size: contain;
    }
}

.cards .content{
    /* border: 2px solid green; */
    display: inline-flex;
    gap: 12px;
    padding: 12px;
    flex-grow: 1;
}

.cards .description{
    flex-grow: 1;
    flex-direction: column;
    /* border: 2px solid brown; */
}

.cards .qrcode{
    /* border: 2px solid yellow; */
    display: flex;
    align-items: center;
    justify-content:flex-end;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.cards .qrcode-wrapper{
    width: 90px;
    height: 90px;
    /* background-color: rgb(59, 59, 133); */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.cards h1,h5,p{
    margin: 0;
    width: fit-content;
    display: block;
}

.cards .address{
    margin-bottom: 16px;
}

.cards .industry{
    cursor: default;
    border-radius: 20px;
    padding: 3px 12px;
    border: 2px solid var(--color-border);
    background-color: var(--color-card-indus);
}

.cards .company{
    font-size: 26px;
}

.cards h4{
    margin: -5px 0 5px 0;
}

.see_more p{

}