.map{
    border: 2px solid var(--color-gray-200);
    overflow: hidden;
    border-radius: 30px;
    margin: var(--home-margin);
    max-height: 28em;
    opacity: 1;
    transition: all 1.5s cubic-bezier(0.215, 0.610, 0.355, 1)
}

@starting-style{
    .map-wrapper svg{
        opacity: 0;
        transform: scale(1.1);
    }
}

.map-wrapper svg{
    transition: all 1.5s cubic-bezier(0.215, 0.610, 0.355, 1)
}


