.ph-map{
    border: 2px solid var(--color-gray-200);
    border-radius: 30px;
    /* max-height: 28em; */
    overflow: hidden;
    margin: var(--home-margin);
    opacity: 1;
    transition: all 1.5s cubic-bezier(0.215, 0.610, 0.355, 1)
}

@starting-style{
    .ph-map svg{
        opacity: 0;
        transform: scale(1.1);
    }

}

.ph-map-wrapper svg{
    transition: all 1.5s cubic-bezier(0.215, 0.610, 0.355, 1)
}
