.idleV4 {
  	width: 100%;
	height: 100%;
	min-height: 100vh;
  	background: linear-gradient(180deg, #070e1f, #122143);
  	overflow: hidden;
  	
	display: flex;
  	flex-direction: column;
	flex-grow:  1;

  	isolation: isolate;
	gap: 0.5em;
  	text-align: left;

  	color: var(--color-white);
  	font-family: var(--font-poppins);
  	

	/* border: 2px solid red; */
}

::-webkit-scrollbar{
	display: none;
}

p{
	all: unset; 
	/* user agent override ayaw kasi ng umayos e  */
}

.header {
  	align-self: stretch;
  	display: flex;
	width: 100%;
  	flex-direction: column;
  	flex-shrink: 0;
  	align-items: flex-start;
  	padding: 10px 25px;
	/* border: 2px solid red; */
}
.headerTitle {
  	align-self: stretch;
  	position: relative;
  	text-transform: uppercase;
  	font-weight: 600;
	font-size: clamp(2rem, 1rem + 3vw, 4.5rem);
	/* border: 2px solid blue; */
}
.headerSubtitle {
  	align-self: stretch;
  	position: relative;
  	font-size: 26px;
  	letter-spacing: 0.12em;
  	text-transform: uppercase;
  	font-weight: 600;
  	color: var(--color-gray-200);

	margin-top: -10px;

	/* border: 2px solid blue; */
}

.philwrapper{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	height: auto;
	flex-grow: 1;
	width: 100%;

	/* border: 2px solid orange; */
}

.philwrapper svg{
	width: 100%;
	max-width: 100%;
	display: block;
	
	/* border: 2px solid blue; */
	animation: breathe 10s ease-in-out infinite;
}

@keyframes breathe {
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.02);
	}
	100%{
		transform: scale(1);
	}
}

path, line, circle{
	vector-effect: non-scaling-stroke;

}

.cit1Icon {
  	width: auto;
  	height: 20%;
	min-height: 265px;
	max-height: 300px;
  	margin: 0 !important;
  	object-fit: cover;
  	z-index: 2;
  	flex-shrink: 0;

	position: absolute;
	bottom: 100px;

	transition: 300ms cubic-bezier(0.77, 0, 0.175, 1);
	cursor: pointer;

	/* border: 2px solid red; */
}

.cit1Icon:hover{
	transform: scale(1.1);
}

.cit1Icon:active{
	transform: scale(0.95);
	transition: 100ms ease; 
}


.footer {
  	width: 100%;
  	height: 100%;
  	background-color: var(--color-gray-100);
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 140px 0 28px;
  	box-sizing: border-box;
	
  	text-align: center;
	font-size: clamp(48px, 1em + 1.5vh, 1.5em);
  	font-family: var(--font-plus-jakarta-sans);
	
	flex-shrink: 0;
	/* flex-grow: 1; fill all remaining space */
	/* border: 2px solid green; */
}
.footerButtonText {
  	text-transform: uppercase;
  	font-weight: 600;
  	flex-shrink: 0;
	transition: 300ms ease-in-out;
	border: 2px solid green;
	
}



